<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../header/head') %>
  </head>
  <body>
    <%- include('../header/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>201702022 Baesihyeon</p>

    </div>
  </body>
</html>
